<div class="overlay"></div>
<div class="intrude-less">
	<header id="header" class="inner">
		<a href="/" class="profilepic">
			<% if (theme.animate){ %>
			<img lazy-src="<%=theme.avatar%>" class="js-avatar">
			<%}else{%>
			<img src="<%=theme.avatar%>" class="js-avatar" style="width: 100%;height: 100%;opacity: 1;">
			<%}%>
		</a>

		<hgroup>
		  <h1 class="header-author"><a href="/"><%=theme.author%></a></h1>
		</hgroup>

		<% if (theme.subtitle){ %>
		<p class="header-subtitle"><%=theme.subtitle%></p>
		<%}%>

		<div class="switch-area">
			<div class="switch-wrap">
				<section class="switch-part switch-part1">
					<nav class="header-menu">
						<ul>
						<% for (var i in theme.menu){ %>
							<li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
				        <%}%>
						</ul>
					</nav>
					
				</section>

				<section class="switch-part switch-part2">
                    <div class="widget tagcloud" id="js-tagcloud" style="position: relative">
                        <% var result = list_tags({
	                            show_count: false,
	                            style: 'list',
	                            separator: ',',
	                            is_menu: true
                        	}) 
                            if (result.match('</a>')) {
                                result = '<p style="position: relative;float: left;width: 100%;"> 标签 </p>' + result;
                            }
                            var tagclassReg = /tag-list-link/g;
                            result = result.replace(tagclassReg,'color6');
                        %>
                        <%- result %>
                        </br>
                        <% var result = list_categories({
								show_count: false,
								separator: '',
								style: 'list',
								is_menu: true
	                        }) 
                            if (result.match('</a>')) {
                                result = '<p style="position: relative;float: left;width: 100%;"> 分类 </p>' + result;
                            }
                            var cateclassReg = /category-list-link/g;
                            result = result.replace(cateclassReg,'color6');
                        %>
                        <%- result %>
                    </div>

                    <nav class="header-nav">
                        <ul class="social">
                            <% for (var i in theme.subnav){ %>
                                <a class="fa <%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"></a>
                            <%}%>
                        </ul>
                    </nav>
                </section>
                
			</div>
		</div>
		
	</header>				
</div>
